{% extends 'anima_app/base.html' %}
{% block title %}Anima MedTours - Our Services{% endblock %}
{% load static %}
{% block content %}
<section class="services section-padding-100-0 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 class="serv-how fs1">How we <br> can help you</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="text-dark">At times you may be required to get your documents authenticated, notarized and
                    legalised at various Government offices, embassies or consulates in Kenya before you can access
                    medical treatment abroad.
                    At AMT, we understand exactly what needs to be done to ensure you have all the necessary paperwork
                    completed in a timely manner. We have streamlined our processes and established working arrangements
                    with local partners ensuring to guarantee you a smooth process.
                    Our trusted partners in India guide you through the processes required to access medical treatment
                    in India including:
                </p>
            </div>
        </div>
    </div>
</section>

<section class="serv-list" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">
    <div class="container" id="icon-grid">
        <h3 class="serv-bef">Before Deciding to Travel</h3>
        <div class="row">
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Getting you a second opinion from a doctor/specialist in India regarding your medical condition</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Getting you a quote for medical treatment services from a hospital of your choice</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Advising you on any travel requirements to India</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="serv-list" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">
    <div class="container" id="icon-grid">
        <h3 class="serv-bef p-2">If/when you decide to travel</h3>
        <div class="row justify-content-between">
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Obtain all the required legal documents to facilitate your travel to India
                            including affidavits</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Get your documents and records get authenticated and notarized for use
                            abroad</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Access any other legal services you may need during the process</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Obtain all required approvals from relevant authorities</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Get the medical VISAs for you and your companions</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Book flights</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Find suitable accommodation based on your preference</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">With pickup and drop-off to and from the airport in Delhi</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Shuttle you and your companions between the hotel/apartment and the hospital</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">By accompanying you during your appointment with the doctors and responding to any queries you may have regarding your treatment process</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Obtain quality laboratory tests/prescription medicine at affordable rates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="serv-list" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500">
    <div class="container" id="icon-grid">
        <h3 class="serv-bef p-2">After your recovery</h3>
        <div class="row">
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Experience the best that India has to offer, helping you to plan touristic activities in India such as visits to the Taj Mahal, the Delhi National Zoo, the Mahatma Gandhi memorial and burial site and several other historical sites that you may be interested in</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Arrange for your medication to be delivered to you at affordable rates depending on your post-recovery plan </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 p-2">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Provide any other support that you may require before, during and after your stay in India</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}